# Behaviour
should_launch_new_window 1
startup_commands toggle_custom_color;fit_to_page_width_smart

# Custom commands
new_command _print_file yad --print --filename=%1 --ad-preview

# Interface
default_dark_mode 1
ui_font FiraCode Nerd Font
page_separator_width 10

# Theme
## Overall
text_highlight_color 0.298 0.216 0.263
visual_mark_color 0.298 0.216 0.263
search_highlight_color 0.655 0.753 0.502
link_highlight_color 0.498 0.733 0.702
synctex_highlight_color 0.259 0.314 0.278
status_bar_color 0.655 0.753 0.502
status_bar_text_color 0.118 0.137 0.149
custom_background_color 0.118 0.137 0.149
custom_text_color 0.827 0.776 0.667
page_separator_color 0.153 0.18 0.2

## Light
background_color 0.898 0.875 0.773

## Dark
dark_mode_background_color 0.153 0.18 0.2
